<div class="row">
    <div class="col-sm-3 ">
        <div class="panel panel-default panel__filters">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Filters
                </h3>
            </div>
             <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search" ng-hide="selected.mappingsFiler"></i>
                            <i class="fa fa-times pointer" ng-show="selected.mappingsFiler" ng-click="removeSearch()"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Filter" ng-change="filerMappingsBySelection()" ng-model="selected.mappingsFiler">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <select class="form-control" ng-options="o.userId as o.userId for o in grouppedMappingsByUserId" ng-change="filerMappingsBySelection()"
                            ng-model="selected.userId"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel__mappings">
            <div class="panel-heading">
                <h3 class="panel-title">Current Mappings <a href="" class="btn btn-primary btn-xs text-right pull-right" style="color:white" ng-click="addNewMapping()"> <i class="fa fa-plus"></i> new </a></h3>
            </div>
           
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Mthod</th>
                        <th>Url</th>
                        <th>Date Last Hit</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="mapping in selectedMappings" class="pointer" ng-class="{ 'info' : mapping.isSelected}" ng-click="selectMapping(mapping)">
                    <td>
                        <span class="label label-success" ng-class="mapping.request.method.toLowerCase()">{{ mapping.request.method}}</span>
                    </td>
                    <td>
                        <span ng-show="mapping.request.urlShort != ''" ng-bind-html="mapping.request.urlShort | highlight : selected.mappingsFiler"></span>
                        <span ng-show="mapping.request.urlShort == ''">/</span>
                    </td>
                    <td>
                        {{mapping.request.dateLastHit | date : 'dd.MM.yy H:mm:ss'}}
                    </td>
                    <td>
                        <div class="actions">
                            <i class="fa fa-trash" title="Delete mapping" style="color:#337ab7" ng-click="deleteMapping($event, mapping)"></i>
                        </div>
                    </td>
                    <td>
                        <h6 style="margin:0" ng-show="mapping.response.isJson" title="Payload is valid JSON" ><span class="label label-warning"><i class="fa fa-check"></i></span></h6>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default panel__missed">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Missed Requests <small>(updated at {{missedRequestsUpdatedAt | date : 'hh:mm:ss'}}) <i class="fa fa-refresh pointer" ng-hide="selected.refreshAutomaticaly" ng-click="refreshMissedRequests()"></i>
                                                        <input type="checkbox" id="autoRefresh" ng-model="selected.refreshAutomaticaly" ng-change="changeRefresh(selected.refreshAutomaticaly)" />
                                                        <label for="autoRefresh">Refresh automaticaly</label>
                                                    </small>
                </h3>
            </div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Mthod</th>
                        <th>Url</th>
                        <th>Date Last Hit</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="missedRequest in selectedMissedRequests">
                    <td>
                        <span class="label label-success" ng-class="missedRequest.method.toLowerCase()">{{ missedRequest.method}}</span>
                    </td>
                    <td>
                        <span ng-show="missedRequest.urlShort != ''" ng-bind-html="missedRequest.urlShort | highlight : selected.mappingsFiler"></span>
                        <span ng-show="missedRequest.urlShort == ''">/</span>
                    </td>
                    <td>
                        {{missedRequest.loggedDateString | date : 'd.MM.yy H:mm:ss'}}
                    </td>
                    <td>
                        <a href="" title="Create Mapping from this Request" ng-click="addNewOne(missedRequest)"><i class="fa fa-arrow-circle-o-up"></i> </a>
                    </td>
                </tr>
            </table>
        </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default panel__headers">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Request
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="verb">verb</label>
                            <select id="verb" class="form-control" ng-options="o for o in verbs" ng-change="saveMappingChanges()" ng-disabled="!selected.mapping"
                                ng-model="selected.mapping.request.method"></select>
                        </div>
                        <div class="col-sm-8">
                            <label for="url">url</label>
                            <input type="text" id="url" class="form-control" ng-change="saveMappingChanges()" ng-disabled="!selected.mapping" ng-model="selected.mapping.request.url">
                        </div>
                    </div>
                    <br />
                    <div class="requestHeadersEditor" ui-ace="{onLoad: requestHeadersEditorLoaded, onChange:  requestHeadersChange, mode: 'json' }"></div>
                </div>
            </div>
            <div class="panel panel-default panel__body">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Response
                    </h3>
                </div>
                <div class="panel-body">
                    <span class="label label-info" ng-show="bodyParsingFailed">Body isn't in JSON format</span>
                    <div class="responseBodyEditor" ui-ace="{onLoad: responseBodyEditorLoaded, onChange:responseBodyEditorChange, mode: 'json' }"></div>
                </div>
            </div>
        </div>
</div>