<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="plain">
<head>
    <meta charset="UTF-8">
    <title>Cache Editor</title>
    <script type="text/javascript" src="../../../script/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../../script/angular/angular.min.js"></script>

    <script type="text/javascript" src="../../../script/utils.js"></script>
    <script type="text/javascript" src="../../../script/socketFront.js"></script>

    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="Head">cache editor</div>
<div id="HeadControl">
    <div class="bgholder wcontrol" id="IUp" title="export"></div>
    <div class="bgholder wcontrol" id="IDown" title="import"></div>
    <div id="FFilter">
        <div class="lbl">DOMAIN_FILTER:</div><div class="inp" id="DomainFilter"><input type="text"></div>
        <div class="lbl">REQUEST_FILTER:</div><div class="inp" id="XhrFilter"><input type="text"></div>
        <div class="inp"><input id="BFilter" type="button" value="OK"></div>
    </div>
</div>
<!--
                <div class="pane_control"></div>
                <div class="pane_control" title="save">
                </div>
-->
<div id="Content">
    <table>
        <tr id="RowReq">
            <td>
                <div class="pane" id="ListReq">
                    <div class="row_req" ng-repeat="item in aRequest"><div class="txt_inner">{{item.req}}</div></div>
                </div>
            </td>
        </tr>
        <tr id="RowRes">
            <td>
                <div class="pane" id="CntRes" contenteditable="true"></div>
                <div class="save bgholder"></div>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" src="ng.js"></script>
<script type="text/javascript" src="script.js"></script>
</html>