DIV {
  border: 0px solid green;
}
BODY, HTML {
  height: 100%;
}

BODY {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 36px #dfdac7 inset;
  overflow: hidden;
}

TABLE {
  width: 100%;
  height: 100%;
  border-spacing: 22px;
  border-collapse: separate;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
}

TD {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: beige;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.bgholder {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wcontrol {
  position: fixed;
  top: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
//  z-index: 9999999999;
  opacity: 0.4;
//  visibility: hidden;
  transition: opacity 0.6s, top 0.8s;
  box-shadow: 1px 1px 7px #878787;
    border: 0px solid red;
  &#IUp {
    left: 50px;
    box-shadow: 1px 1px 7px #878787;
    background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/up2.png');
  }
  &#IDown {
    left: 86px;
    box-shadow: -1px -1px 7px #878787;
    background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/up2.png');
    transform: rotate(180deg);
  }
  &:hover {
    opacity: 0.9;
  }
}
#FFilter {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  .lbl, .inp {
    display: table-cell;
  }
}


#Head {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  padding-top: 16px;
  position: absolute;
  width: 100%;
}

#Content {
  height: 100%;
  TD {
//    padding-left: 35px;
    border: 1px solid #cbbaba;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(to right, #d2e2c1, rgba(255, 255, 255, 0) 44px);
    .pane {
      padding-left: 40px;
    }
  }
}
#RowReq {
//  max-height: 6% !important;
  TD {
    display: list-item;
    max-height: 150px;
//    border-bottom: 3px double #ead4d4;
  }
}
#RowRes {
  height: 100%;
  TD {
    overflow: hidden;
  }
}
#ListReq {
  position: relative;
  top: -12px;
//  min-height: 20px;
//  overflow: auto;
  overflow-x: hidden;
  .row_req {
    width: 100%;
    height: 18px;
    cursor: pointer;
    padding: 2px;
    padding-left: 4px;
    font-family: Courier New;
      border: 0px solid red;
    &.sel {
      background-color: #fcfedc;
    }
  }
  :nth-child(2n) {
    background-color: rgba(239, 245, 247, 0.45);
  }
}
#CntRes {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 4px;
  font-size: 12px;
  outline: none;
  PLAINTEXT {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/*.pane_control {
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 100%;
  background: red;
  background: linear-gradient(to right, #d2e2c1 , rgba(255, 255, 255, 0));
}*/
.save {
  width: 28px;
  height: 28px;
  position: absolute;
  border: 0px solid;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/floppy3.png');
  background-size: 67%;
  border-radius: 50%;
  top: 22px;
  left: 4px;
  /* box-shadow: 0 0 6px #bababa inset; */
  box-shadow: 1px 1px 7px #878787;
  background-color: white;
  opacity: 0.4;
  transition: opacity 0.6s;
  cursor: default;
}
.touched .save {
  cursor: pointer;
  opacity: 1;
}
.touched .save:hover {
  box-shadow: 1px 1px 7px #bd5b5b;
}
.txt_inner {
  position: absolute;
//  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
  cursor: pointer;
}