.bgholder {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#FPost {
  position: fixed;
  right: 17px;
  top: 17px;
  z-index: 9999999999;
  transition: width 1s, height 1s;
}
#FPost #Control {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(245, 245, 220, 0.9);
  padding: 10px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/icon-5.png');
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/shake2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(245, 245, 220, 0.901961) 0 0 16px 11px;
  box-shadow: #baedcd 0px 0px 16px 11px;
  cursor: pointer;
  opacity: 0.2;
  transition: visibility 0.5s;
}
#FPost.off #Control {
  opacity: 0.8;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/fist1.png');
  box-shadow: #edbaba 0px 0px 16px 11px;
}
#FPost:hover #Control {
  opacity: 0.5;
}
#FPost.off:hover #Control {
  opacity: 0.4;
}
#PopGear {
  position: absolute;
  top: -14px;
  right: -8px;
  border: 1px solid red;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/gear1.jpg');
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.0;
  top: 2px;
  right: 2px;
  position: fixed;
  z-index: 9999999999;
  cursor: pointer;
  text-align: center;
  /* vertical-align: middle; */
  background-color: rgba(254, 255, 250, 0.933333);
  text-transform: lowercase;
  font-size: 13px;
  border: none;
  box-shadow: rgba(186, 237, 205, 0.21) 0px 0px 16px 11px inset;
  border: 0px solid red;
  transition: opacity 0.6s;
}
.wcontrol {
  position: fixed;
  right: 2px;
  top: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 9999999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, top 0.8s;
}
.setup .wcontrol {
  border: 1px solid #cccccc;
  border-color: antiquewhite;
  visibility: visible;
}
.setup #IUp {
  top: 37px;
  box-shadow: lightgrey -3px -1px 6px inset;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/up2.png');
}
#IUp.wcontrol:hover {
  box-shadow: #a1d5ab -4px -2px 6px inset;
}
#IDown.wcontrol:hover {
  box-shadow: #a1d5ab 4px 2px 6px inset;
}
.setup #IDown {
  top: 73px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/down.png');
  background-image: url('chrome-extension://__MSG_@@extension_id__/xhrcache/img/up2.png');
  box-shadow: lightgrey 3px 1px 6px inset;
  transform: rotate(180deg);
}
#PopGear:hover {
  text-shadow: 1px 1px #e3e3e3;
}
#PopOuter.off #PopGear {
  box-shadow: rgba(237, 186, 205, 0.21) 0px 0px 16px 11px inset;
  box-shadow: rgba(231, 182, 217, 0.6) 2px -2px 7px 1px inset;
}
#PopGear #OK {
  width: 100%;
  top: 0;
  display: table;
  bottom: 0;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibiliy 0.6s;
}
#PopOuter:hover #PopGear {
  opacity: 1;
}
#PopOuter:hover #IUp {
  opacity: 1;
}
#PopOuter:hover #IDown {
  opacity: 1;
}
/**************
    SETUP
**************/
#FSetup {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  width: 350px;
  background-color: rgba(254, 255, 250, 0.93);
  padding: 14px;
  color: gray;
  box-shadow: 2px 2px 6px 0px #a5a2a2;
  box-shadow: #a7a7a7 2px 2px 16px 4px;
  box-shadow: #000000 2px 2px 17px 2px;
  border-radius: 50%;
  border-radius: 74px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 26px;
  padding-bottom: 30px;
  padding-right: 30px;
  transform: scale(0.2);
  transform-origin: top right;
  opacity: 0.2;
  visibility: hidden;
  transition: transform 0.6s, opacity 1s;
  /*            visibility: visible;*/
}
#PopOuter.setup #FSetup {
  transform: scale(1);
  transform-origin: top right;
  opacity: 1;
  visibility: visible;
}
#FSetup .finput {
  position: relative;
}
#FSetup INPUT {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  outline: none;
  text-align: center;
  color: black;
  font-family: Courier New;
  padding-bottom: 1px;
  padding-right: 14px;
}
#FSetup .hdr {
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  color: #84a36b;
}
#FSetup .lbl {
  text-align: center;
  font-size: 11px;
  text-shadow: 1px 1px white;
  line-height: 1.2;
  color: #b2b2b2;
  letter-spacing: 1.2px;
}
#FSetup .clear {
  position: absolute;
  top: 7px;
  right: 2px;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  color: red;
  text-shadow: 1px 1px #bcbcbc;
  cursor: pointer;
  top: 6px;
  text-transform: lowercase;
  padding-left: 4px;
  padding-right: 4px;
  right: -3px;
  opacity: 0.2;
}
#FSetup .clear:hover {
  opacity: 0.9;
}
#PopOuter.setup #Control {
  visibility: hidden;
}
#PopOuter.setup #PopGear {
  border: 1px solid #cccccc;
  box-shadow: -3px -1px 6px lightgray inset;
  background-image: none;
}
#PopOuter.setup #PopGear #OK {
  opacity: 1;
  visibility: visible;
}
/**********
 *
 */
#PCnt {
  visibility: hidden;
  margin-top: 20px;
  height: auto;
  max-height: 450px;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid;
  border-color: #b4ebd7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
HTML,
BODY {
  height: 100% !important;
}
.modal_outer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.54);
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.modal_outer.blank {
  visibility: hidden;
}
.modal_inner {
  width: 70%;
  height: 70%;
  background: white;
  margin: auto auto;
  bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
}
.nav_bar {
  position: absolute;
  margin: auto auto;
  margin-left: 17px;
  margin-right: 17px;
  top: 20px;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  color: #777;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 0;
}
#UrlValue {
  border: 1px solid #e7e7e7;
  background-color: #fdfdfd;
  vertical-align: middle;
  width: initial;
  padding: 6px;
  text-align: center;
  margin-top: 20px;
}
#FResContent {
  display: flex;
  height: inherit;
  flex-flow: column;
  margin-top: 20px;
  border: 0px solid red;
}
#FResContent TEXTAREA {
  height: 100%;
  margin-bottom: 20px;
  outline: none;
  resize: none;
}
#PopOuter .btn_pop {
  position: absolute;
  bottom: 20px;
  height: 36px;
  padding: 0;
  border: none;
}
#PopOuter .btn_pop INPUT[type=button] {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #2262ff;
  border: 1px solid transparent;
  font-weight: bold;
  border-radius: 4px;
}
#PopOuter .btn_pop#BPlay {
  width: 62px;
  right: 20px;
}
#PopOuter .btn_pop#BPlay INPUT[type=button]:hover {
  background-color: #3272ff;
}
#PopOuter .btn_pop#BIgnore INPUT[type=button] {
  background-color: #e8e8e8;
  color: #777;
}
#PopOuter .btn_pop#BIgnore INPUT[type=button]:hover {
  background-color: #c8c8c8;
}
