BODY {
  padding-top: 18px;
}
.cgroup {
  border: 1px solid gray;
  padding: 4px;
}
.hdr {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
#CtrlList {
  margin-bottom: 10px;
}
.mode_ctrl {
  cursor: pointer;
}
.mode_ctrl:hover {
  opacity: 0.5;
}
.mode_ctrl.sel {
  background-color: yellow;
}
#Close {
  position: absolute;
  top: 2px;
  right: 10px;
  color: red;
  cursor: pointer;
  text-transform: capitalize;
}
