/* app css stylesheet */
body {
  padding: 20px;
}

.pointer {cursor : pointer}

.panel__mappings {
  height: 38vh;
  overflow-y: scroll
 }
.panel__missed {
   height: 38vh;
  overflow-y: scroll
}

/* For the "inset" look only */
html {
    overflow: auto;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F2F2F2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #F2F2F2;
}

tr .actions {
    visibility: hidden;
}

tr:hover .actions {
    visibility: visible;
}

.requestHeadersEditor { height: 200px; }
.responseBodyEditor { height: 60vh; }
.highlighted { background: yellow }

.label.get {background-color: #63a8e2 }
.label.post {background-color: #6cbd7d }
.label.delete {background-color: #d26460 }
.label.put {background-color: #22bac4 }
